<p id="notice"><%= notice %></p>

<table class='run_info'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Elevation</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% @run.markers.each do |marker| %>
        <tr>
          <td><%= marker.id %></td>
          <td><%= marker.latitude %></td>
          <td><%= marker.longitude %></td>
          <td><%= marker.elevation %></td>
          <td><%= marker.marker_created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div id="map_canvas" style="height:600px"></div>


<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
