<p id="notice"><%= notice %></p>

<aside class="run_details">
  <h2><%= @run.name %></h2>
  <p style="display:none" id="run_id"><%= @run.id %></p>
  <p>Description: <%= @run.description %></p>
  <p>Resort: <%= @run.resort.name %></p>
  <p>Rating: <%= @run.rating %></p>
  <div class="geo_data">
    <p><button onclick="geoFindMe()">Start Tracking</button></p>
    <div id="output"></div>
  </div>
</aside>

<!-- <table class='run_info'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Elevation</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% @run.markers.each do |marker| %>
        <tr>
          <td><%= marker.id %></td>
          <td><%= marker.latitude %></td>
          <td><%= marker.longitude %></td>
          <td><%= marker.elevation %></td>
          <td><%= marker.marker_created_at %></td>
        </tr>
      <% end %>
    </tbody>
</table> -->


<section>
  <div id="map_canvas"></div>
  <div class="graph"></div>
</section>

<section>
  <% @media.each do |media| %>
    <%= image_tag media.image.detail.url %>
    <%#= run_media_path(@run, media) %>
  <% end %>
</section>

<%= link_to 'New Media to this run', new_run_medium_path(@run) %> |
<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>