<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @resort.name %>
</p>

<p>
  <b>Description:</b>
  <%= @resort.description %>
</p>

<p>
  <b>Country:</b>
  <%= @resort.country.name %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @resort.image %>
</p>

<p>
  <b>Current Snow Conditions</b>
  <div class="weather"></div>
</p>


<%= link_to 'Edit', edit_resort_path(@resort) %> |
<%= link_to 'Back', resorts_path %>
