<!DOCTYPE html>
<html>
<head>
<title>Ski App</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= google_maps_api %>
<%= run_id_to_js(@run.id) if @run %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
        <div class='rmm'>
            <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Countries", countries_path %></li>
                <li><%= link_to "Resorts", resorts_path %></li>
                <li><%= link_to "Photos", runs_path %></li>
                <li><%= link_to "My Profile", user_index_path %></li>
                <li><%= link_to 'Login In', new_user_session_path %></a></li>
                <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            </ul>
        </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

</body>
</html>
